*{ margin:0 auto; padding: 0;}
img{ border: 0;}
div{ font-size: 12px;}
ul,li{list-style: none;}
a{ text-decoration: none;  color: #006A92;}
a:hover{ text-decoration: underline;}
body{ background-image: url("images/bg.jpg"); font-family: Verdana,"微软雅黑";}

#top1{ width: 100%; height: 44px; background-color: #2E2E2E;}
.top1detail{ width: 992px; height: 44px;}
.top1left{ float: left; width: 300px; height: 44px;}
.top1lfa{ display: inline-block; float: left; height: 44px; line-height: 44px; margin-right: 40px; text-align: left; font-size: 14px; color: #8A8A8A;}
.top1right{ float: right; width: 360px; height: 44px;}

#top2{ width: 992px; height: 89px; padding: 18px 0;}
.top2left{ float: left; width: 595px; height: 89px; background-image: url("images/20130121105402503.png");}
.top2right{ float: right; width: 307px; height: 60px; padding-top: 20px;}
.inputarea{ float: left; width: 171px; height: 26px; margin: 9px 0; background-image: url('images/head_search.gif');}
.inputstyle{ float: left; display: block; text-align: left; width: 132px; height: 20px; font-size: 20px; line-height: 20px; border:0; background-color: #1D1D1D; color: #fff; font-size: 14px; margin: 3px 0 0 7px; }
.btnstyle{ float: right; width: 48px; height: 21px; margin-top: 12px; margin-left: 30px;}
.login{ background-color: #9E31A7;}
.signin{ background-color: #F46718;}
.btnastyle{ display: block; width: 48px; height: 21px; line-height: 21px; font-size: 14px; color: #fff; text-align: center;}


#top3{ width: 994px; height: 1700px;}
#top3left{ float: left; width: 123px; height: auto; border-top: 1px solid #C1C6CA; border-right: 1px solid #C1C6CA;}
.top3ltli{ position: relative; width: 123px; height: 52px; border-bottom: 1px solid #C1C6CA; background-image: url("images/banner_bg1.gif");}
.top3ltlispec{ background-image: url("images/banner_bg3.gif");}
.top3ltlirt{ float: right; width: 96px; height: 30px; margin-top: 12px;}
.top3ltlirtspan{ cursor: pointer; display: block; width: 100%; height: 15px; line-height: 15px; color: #A3A3A3; font-size: 14px;}
.top3ltlirtspanspec{ cursor: pointer; display: block; width: 100%; height: 15px; line-height: 15px; color: #A3A3A3; font-size: 14px;}
.top3ltlirt:hover{ color: #E40077;}
.fontsize12{ font-size: 12px;}
.showtimelist{ display: none; position: absolute; top: -1px; left: 124px;  width: 123px; height: auto; border: 1px solid #C1C6CA; border-left: 0; border-bottom: 0;}
.showtimeli{ cursor: pointer; width: 123px; height: 52px; background-image: url("images/zhank_bg.gif"); border-bottom: 1px solid #C1C6CA;}
.showtimelileft{ float: left; width: 27px; height: 52px; line-height: 52px; font-size: 16px; font-weight: 700; color: #a3a3a3; text-align: center;}

#top3right{ float: right; width: 864px; height: 1700px;}
.top3rttop1{ width: 862px; height: 460px;}
.t3rttp11{ width: 862px; height: 415px;}
.t3rttp12{ width: 862px; height: 16px; background-image: url('images/jdt_bg.png');}
.t3rttp13{ width: 862px; height: 17px; background-image: url('images/jdt_line.png');}
.circlelist{ width: 100px; height: 15px; padding-left: 10px;}
.circleli{ cursor: pointer; float: left; width: 13px; height: 13px; margin: 0 5px; background-image: url("images/jdt_dot2.gif"); opacity: 0.4;}


.top3rttop2{ width: 864px; height: 1214px;}
.top3rttop2lt{ float: left; width: 629px; height: 1201px;}
.t3rtt2title{ width: 623px; height: 15px; text-align: left; border-top: 1px solid #C8C0C0; border-bottom: 1px solid #C8C0C0; padding: 6px 0px 6px 6px; font-size: 14px; font-weight: 700; line-height: 15px;}
.color1{ color: #E40077;}
.color2{ color: #413E3E;}

.piclist{ width: 629px; height: 197px; margin-top: 10px;}
.picli{ position: relative; float: left; width: 203px; height: 197px; padding-right: 5px;}
.hoverspan{ display: none; position: absolute; left: 0; bottom: 0; width: 193px; padding: 2px 5px; height: 36px; line-height: 18px; background-image: url('images/slide.png');}
.hoverspanli{ display: block; width: 100%; height: 18px; line-height: 18px; font-size: 12px; color: #fff;}

.t3rtt2pic3{ width: 629px; height: 90px; margin-top: 10px; margin-bottom: 10px;}

.piclist2{ width: 629px; height: 304px; margin-top: 10px;}
.piclist2 a:hover{ text-decoration: none;}
.picli2{ width: 629px; height: 152px;}
.piclili{ position: relative; z-index: 5; float: left; width: 209px; height: 152px;}
.bgpic1{ background-image: url("images/list_pic1.jpg");}
.bgpic2{ background-color: #931A9D;}
.bgpic3{ background-image: url("images/list_pic2.jpg");}
.bgpic4{ background-color: #F46718;}
.bgpic5{ background-image: url("images/list_pic3.jpg");}
.bgpic6{ background-color: #E40077;}
.picspans{ position: absolute; z-index: 8; top: 50px; left: 0; width: 209px; height: 40px;}
.picspan{ display: block; width: 209px; height: 20px; line-height: 22px; font-size: 14px; text-align: center; color: #fff; font-weight: 700;}
.pichover{ position: absolute; z-index: 10; top: 0; left: 0; background-image: url("images/list_bg.gif"); }

.picshowarea3{ margin-top: 10px; margin-bottom: 10px; width: 629px; height: 133px; padding-top: 10px; border-top: 1px solid #C8C0C0;}
.picforenext{ float: left; width: 25px; height: 133px;}
.picfn{ cursor: pointer; width: 25px; height: 24px; margin-top: 60px;}
.forepic{ background-image: url("images/magazine_left.gif");}
.nextpic{ background-image: url("images/magazine_right.gif");}
.picflash{ float: left; width: 555px; padding-left: 14px; padding-right: 10px; height: 133px;}
.picflash img{ width: 97px; height: 133px; margin-left: 8px;}

.picshowarea4{ width: 627px; height: 300px; margin-top: 10px;}
.largepicarea{ position: relative; width: 627px; height: 273px;}
.largepicarea img{ display: block; width: 627px; height: 273px;}
.forenextarea{ width: 627px; height: 27px;}
.littlepic{ float: right; width: 13px; height: 12px; margin-top: 15px; margin-right: 10px;}
.littlenext{ background-image: url("images/imgs/ad_right1.gif");}
.littlefore{ background-image: url("images/imgs/ad_left1.gif");}


.top3rttop2rt{ float: right; width: 228px; height: 1214px;}
.rttitle{ width: 228px;  height: 15px; text-align: left; border-top: 1px solid #C8C0C0; border-bottom: 1px solid #C8C0C0; padding: 6px 0px 6px 6px; font-size: 14px; font-weight: 700; line-height: 15px; }
.rttitle1span{ cursor: pointer; display: block; float: left; width: 104px; height: 15px; text-align: center; font-size: 14px;}

#xinlang{ display: block;}
.rtcontent{ display: none; width: 228px; height: 522px;}
.rtcondownimg{ width: 114px; height: 13px;}
.rtcondownpic{ width: 9px; height: 7px; margin-top: 3px;}
.rtcondetai{ width: 224px; height: auto; border: 1px solid #C8C0C0; border-top: 0;}


.lm1{ width: 224px; height: 28px; background-color: #fff; border-top: 2px solid #FF0000; border-bottom: 1px solid #D2D2D2;}
.lm1left{ float: left; width: 16px; height: 14px; margin-left: 10px; margin-top: 6px; background-image: url("images/wb_logo16_a.png");}
.lm1right{ display: block; float: left; width: 180px; padding-left: 10px; height: 28px; line-height: 28px; font-size: 12px; color: #0078B6;}

.lm2{ width: 218px; height: 64px; padding: 10px 0px 0px 6px;}
.lm2left{ float: left; width: 56px; height: 56px;}
.lm2right{ width: 151px; height: 58px; float: right;}
.lm2span1{ display: inline-block; color: #0078B6; font-size: 14px; line-height: 16px;}
.lm2span2{ display: inline-block; width: 16px; height: 14px; margin-left: 2px; background-position: 0px -60px; background-image: url("images/icon_user.png");}
.lm2span3{ display: block; margin-left: 0; margin-top: 5px; width: 63px; height: 29px; background-position: 100% -28px; padding-top: 5px; background-image: url("images/btns_bg.png");}
.lm2span4{ display: block; float: left; background-image: url('images/icon_follow.png'); width: 8px; height: 8px; background-repeat: no-repeat; margin-top: 4px; margin-left: 5px;}
.lm2span5{ float: left; color: #FFF; margin-left: 4px; font-style: normal; font-weight: 700; text-align: left;}

.lm3{ width: 224px; height: 194px; overflow: auto; background-color: #fff;}
.lm3content{ display: inline; width: 100%; line-height: 20px; font-size: 12px/1.7; color: #8A8A8A;}

.lm4span1{ float: left; display: inline-block; padding-left: 10px; height: 26px; font-size: 12px; line-height: 26px; margin-top: 10px; color: #595959;}
.lm4a{ float: right; display: inline-block; height: 26px; padding-right: 10px; color: #5078B6;}

.lm5list{ width: 198px; padding: 0 6px; margin-top: 10px; height: 160px; margin-bottom: 30px;}
.lm5li{ width: 198px; height: 80px;}
.lm5lili{ cursor: pointer; float: left; width: 50px; height: 80px; margin-right: 10px; margin-left: 6px;}
.lm5lili img{ width: 50px; height: 50px;}
.lm5span{ display: block; width: 50px; height: 18px; color: #5078B6; font-size: 12px; line-height: 18px;}

.morepic{ display: block; width: 43px; height: 15px; float: right; background-image: url('images/more.gif');}

.rtnewslist{ width: 224px; height: 160px; }
.rtnewsli{ width: 224px; height: auto; }
.rtnewokpic{ float: left; width: 10px; height: 10px; margin-right: 10px; margin-top: 12px; margin-left: 4px; background-image: url("images/news_ico.gif");}
.rtnewokspan{ float: left; display: block; width: 197px; height: auto; line-height: 18px; padding-top: 8px; font-size: 12px; color: #797979;}

.magazinearea{ margin-top: 10px; margin-bottom: 10px; width: 228px; height: 172px;}
.magazineleft{ float: left; width: 134px; height: 172px;}
.magazineright{ float: right; width: 89px; height: 172px;}
.magaspan{ display: block; width: 89px; height: auto; line-height: 18px; color: #797979;}

.flashtext{ width: 228px; height: 235px;}

#top4{ margin-top: 10px; width: 100%; height: 81px; background-image: url("images/co_bg.gif"); background-repeat: repeat-x;}
.top4content{ width: 844px; height: 70px; padding-top: 10px;}
.top4span1{ display: block; float: left; width: 55px; height: 18px; line-height: 18px; font-size: 12px; color: #8A8A8A;}
.top4span2{ float: right; width: 785px; height: auto; line-height: 18px; font-size: 12px;}
.top4span2 a{ color: #8A8A8A;}


#top5{ width: 100%; height: 132px; background-image: url("images/foot_bg.gif"); background-repeat: repeat-x;}
.top5content{ width: 844px; height: 132px;}
.top5left{ float: left; width: 141px; height: 74px; margin-top: 30px; margin-left: 40px;  background-image: url('images/foot_logo.png');}
.top5right{ float: right; width: 561px; height: 100px; padding-top: 16px; margin-right: 28px;}
.top5span{ width: 100%; height: 20px; line-height: 20px; color: #8A8A8A;}






