*{ margin:0 auto; padding: 0;}
img{ border: 0;}
div{ font-size: 12px;}
ul,li{list-style: none;}
a{ text-decoration: none;  color: #006A92;}
a:hover{ text-decoration: underline;}
body{ padding-left: 10px; font-family: "lucida Grande",Verdana;}

/*****************************顶端内容****************************************************/
#top1{ width: 100%; height: 66px; background-color: #fff;}
#top1left{ float: left; width: 407px; height: 60px;}
#top1right{ position: relative; float: right; width: 463px; height: 66px; background-image: url("images/top_bg104473.jpg"); }

.logopic{ display: block; float: left; width: 215px; height: 60px;}
.top1leftspans{ float: left; width: 190px; margin-top: 14px;}
.span1{ display: block; text-align: left; font-size: 12px; font-family: "lucida Grande",Verdana; color: #000; line-height: 16px;}
.span2{ display: inline; color: #1E5494; font-size: 12px; line-height: 26px;}
.spanstyle{ color: #999; font-size: 12px;}

.top1rightup1{ width: 100%; height: 30px; float: right; text-align: right; clear: both;}
.span3{ display: inline; height: 30px; padding: 0 5px; line-height: 30px; font-size: 12px; color:#1E5494;}

.inputarea{ position: absolute; right: 3px; bottom: 5px; width: 280px; height: 18px; float: right; border: 1px solid #999; }
.searchpic1{ float: left; width: 18px; height: 18px; background-color: #fff; background-image: url("images/smartsearch104474.png"); background-position: -3px -2px;}
.inputstyle{ float: left; width: 235px; height: 18px; border: 0; color: #999;}
.searchpic2{ float: left; width: 27px; height: 18px; background-color: #fff; background-image: url("images/smartsearch104474.png"); background-position: -22px -2px;}


/*****************************************************内容区域所有内容*********************************************************************/

#content{ width: 1350px; height: 550px; border-top: 6px solid #89B5E9; border-left: 6px solid #89B5E9; border-top-left-radius: 5px;}
#contentleft{ float: left; width: 174px; height: 550px; background-color: #89B5E9}
/*.contentrightall{ float: left; width: 1170px; height: 540px; overflow-y: auto;}*/
.contentright{ display: none; float: left; width: 1170px; padding-left: 6px; height: 550px; overflow-y: auto;}

/**********************************内容左边**********************************/
#lefttop{ width: 174px; height: 107px; border-top-left-radius: 5px; border-top-right-radius: 12px; background-image: url("images/nav_bg16a498.gif"); background-position: -6px 0px;}
#leftdown{ width: 168px; height: 438px; overflow: auto; margin-left: 0; background-color: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}

.lefttoplist{ width: 160px; height: 90px; }
.lefttopli{ cursor: pointer; width: 140px; padding-left: 10px; padding-top: 8px; height: 20px; line-height: 20px;
 	color: #0055AC; font-weight: 700; font-size: 14px; font-family: "lucida Grande",Verdana;}
.lefttopli:hover{ background-color: #C1D9F3;}
.span4{ display: block; padding-left: 10px; float: left;}
.pic2{ float: left; width: 22px; height: 24px; background-image: url("images/mail1d47c7.png");}
.position0{ background-position: 0 0;}
.position1{ background-position: 0 -33px;}
.position2{ background-position: 0 -60px;}

.solidborder{ width: 150px; border-bottom: 1px solid #D8DEE5; margin-top: 5px; margin-bottom: 5px;}

.leftdownlist{ width: 150px; height: auto;}
.leftdownli{ cursor: pointer; width: 140px; padding-left: 10px; height: 24px; line-height: 24px; font-size: 12px; color: #0055AC; font-family: "lucida Grande",Verdana;}
.leftdownli:hover{ background-color: #C1D9F3;}
.leftdownlispan{ width: 140px; padding-left: 10px; height: 24px; line-height: 24px; font-size: 12px; color: #0055AC; font-family: "lucida Grande",Verdana;}
.leftdownlispecial{ font-weight: 700;}
.leftlispecial{ cursor: pointer; padding: 0 3px;}
.leftlispecial:hover{ background-color: #C1D9F3;}

#leftlist2{ position: relative; width: 150px; height: auto;}
.span5{ display: block; }
.span501{ display: block;float: left;}
.anotherpic1{ position: absolute; top: 9px; left: -2px; width: 13px; height: 13px; background-image: url("images/mail1d47c7.png"); background-position: -127px -32px; }
.anotherslist{ display: none; width: 140px; padding-left: 10px; height: auto;}
.anotherali{ cursor: pointer; width: 100%; height: 24px; line-height: 24px; font-size: 12px; color: #0055AC; font-family: "lucida Grande",Verdana;}
.anotherpic2{ float: left; width: 20px; height: 24px;}
.position3{}

/*********************内容分类***********************************/
#shouyeid{ display: block; position: relative;}
#birthinform{ display: none;}

/*******************************首页内容************************/
.k1area1{ width: 1150px; height: 30px; line-height: 30px; margin-top: 20px; font-size: 16px; font-weight: 700;}
.k1span101{ color: #000;}
.k1span102{ color: #1E5494;}

.k1area2{ width: 1150px; height: 26px; line-height: 26px; font-size: 14px; font-weight: 700;}
.k1span201{ color: #798699; font-size: 12px;}
.k1area3{ width: 1150px; height: 24px;}
.k1area3pic1{ float: left; width: 16px; height: 16px; margin-top: 6px; background-image: url("images/mail1d47c7.png"); background-position: -32px -34px; }
.k1area3spans{ float: left; padding-left: 10px; height: 24px; line-height: 24px; font-size: 12px;}

.k1area4{ height: 28px; line-height: 28px; padding-left: 30px; font-size: 14px; font-weight: 700;}

.k1area5{ width: 1150px; height: 232px; margin-top: 20px;}
.k1area5left{ float: left; width: 830px; height: 230px; border: 1px solid #A7C5E2; border-radius: 3px; background-color: #EFF5FB;}
.k1a5lefttitle{ width: 820px; height: 28px; padding-left: 10px; line-height: 28px; font-size: 14px; border-bottom: 1px solid #A7C5E2;}
.k1a5leftpic{ width: 100%; height: 82px; border-bottom: 1px solid #A7C5E2;}
.k1a5leftpicclass{ display: block; width: 828px; height: 81px; margin-top: 1px; background-image: url("images/jdgjs_qHW_201408110722.jpg"); background-position: 0 0;}
.k1a5leftlist{ width: 827px; height: 100px; padding-top: 12px;}
.k1a5leftli{ width: 780px; padding-left: 20px; height: 30px;}
.k1a5leftlili{ float: left; width: 380px; height: 30px; line-height: 30px; font-size: 14px;}
.lilipic{ float: left; width: 24px; height: 24px; margin-top: 3px; background-image: url("images/newicon_today_blue1e54d6.png");}
.k1position1{ background-position: 0 -30px;}
.k1position2{ background-position: 0 -60px;}
.k1position3{ background-position: 0 -90px;}
.k1position4{ background-position: 0 -120px;}
.k1position5{ background-position: 0 -156px;}
.lilispan{ color: #1E5494;}

.k1area5right{ float: left; width: 300px; height: 230px; border: 1px solid #A7C5E2; margin-left: 10px; border-radius: 3px;}
.k1a5righttitle{ background-color: #EFF5FB; width: 290px; height: 28px; padding: 0 5px; border-bottom: 1px solid #A7C5E2;}
.k1a5rtli{ position: relative; z-index: 70; float: left; width: 144px; height: 23px; line-height: 23px; margin-top: 5px; font-size: 12px; text-align: center; }
.k1a5span1{ cursor: pointer; position: absolute; z-index: 80; display: block; width: 146px; height: 23px; border-top-left-radius: 3px; border-top-right-radius: 3px; border: 1px solid #A7C5E2; border-bottom: 0;}
.k1a5span2{ z-index: 90; background-color: #fff; }

.k1a5rightcontent{ width: 100%; height: 150px; border-bottom: 1px solid #A7C5E2;}
.myinfolist{ width: 280px; padding-left: 20px; padding-top: 10px; height: 110px;}
.myinfoli{ width: 100%; height: 26px; line-height: 26px; font-size: 12px;}
.myinfoli a{ color: #1E5494;}
.levelpic{ display: inline-block; width: 30px; height: 15px; background-image: url("images/contact104472.gif"); background-position: -32px 3px;}

.birthinfospan{ width: 100%; height: 50px; padding-top: 40px;}
.birthspan{ display: block; width: 100%; height: 24px; line-height: 24px; text-align: center; color: #798699;}
.birtha{ display: block; width: 100%; height: 24px; line-height: 24px; text-align: center; color: #1E5494;}

.k1a5rightfoot{ width: 100%; height: 50px; }
.k1a5rtfootpic{ width: 42px; height: 42px; float: left; padding-top: 4px; padding-left: 10px;}
.k1a5rtright{ float: left; width: 235px; padding-left: 10px; height: 50px; line-height: 25px; font-size: 14px;}
.k1a5rtrtspan1{ display: inline-block; color: #000;}
.k1a5rtrta{ color: #435494; font-weight: 700;}
.colorred{ color: #E03237;}

.k1area6{ width: 1150px; height: 40px; margin-top: 20px; font-size: 12px; line-height: 20px;}
.k1area6 a{ color: #1E5494;}
.k1area61{ width: 100%; height: 20px;}
.k1area62{ width: 100%; height: 20px; color: #798699;}

.k1area7{ position: absolute; top: 50px; right: 14px; width: 286px; height: 76px; padding-left: 14px;  background-color: #E0ECF9; border-radius: 3px;}
.k1a7span1{ display: block; width: 100%; text-align: left; height: 28px; line-height: 28px; font-size: 14px; font-weight: 700; color: #000;}
.k1a7span2{ display: inline; width: 270px; height: 22px; line-height: 22px; font-size: 12px; color: #798699;}
.k1a7a{ display: inline; text-decoration: underline; color: #1E5494;}

/*******************************写信内容************************/

/*******************************收件内容************************/
.receitop1{ width: 1130px; padding: 0 7px 0 0; height: 30px; line-height: 30px; font-family: "lucida Grande",Verdana;}
.span0101{ display: inline-block; font-size: 14px; font-weight: 700; color: #093665;}
.span0102{ display: inline-block; font-size: 12px; color: #000;}
.span0103{ display: inline-block; font-size: 12px; color: #5FA207;}


.receifunc{ width: 1123px; height: 24px; padding: 7; background-color: #C1D9F3; border-bottom: 1px solid #C1C8D2; font-family: "lucida Grande",Verdana;}
.funcli{ position: relative; cursor: pointer; float: left; width: auto; height: 24px; font-size: 12px; line-height: 24px; color: #000; border-radius: 5px; padding: 0 10px; background-color: #fff; border: 1px solid #949595; margin-right: 5px;}
.searchchange{ margin-top: 5px;}
.biaojilist{ display: none; position: absolute; top: 25px; left: 0; width: 94px; padding-top: 2px; height: auto; overflow: auto; border-radius: 5px; border: 1px solid #A0A0A0; background-color: #fff;}
.biaojili{ width: 100%; height: 26px; line-height: 26px; text-align: center; font-size: 12px; color: #000;}
.biaojili:hover{ background-color: #6096D4;}

.biaojilist2{ display: none; position: absolute; top: 25px; left: 0; width: 140px; padding-top: 2px; height: auto; overflow: auto; border-radius: 5px; border: 1px solid #A0A0A0; background-color: #fff; }
.biaojili2{ width: 130px; padding-left: 10px; height: 26px; line-height: 26px; text-align: left; font-size: 12px; color: #000;}
.biaojili2:hover{ background-color: #6096D4;}

.funclispecial{ float: right; width: auto; height: 24px;}
.span201{ cursor: pointer; font-size: 12px; color: #093665; height: 12px; line-height: 24px;}
.span201:hover{ text-decoration: underline;}


.receititle{ width: 1130px; height: 21px; margin-top: 1px; line-height: 21px; padding: 0 7px 0 0; border-bottom: 1px solid #C1C8D2; background-color: #F2F4F6;}
.receicheckbox{ float: left; width: 23px; height: 10px; padding-left: 5px; padding-top: 4px;}
.divideborder{ float: left; width: 2px; height: 21px; background-image: url("images/mail1d47c7.png"); background-position: -127px 0px; }
.receistyle{ float: left; width: 29px; height: 21px; margin-left: 5px; background-image: url("images/mail1d47c7.png"); background-position: 0 -80px; }
.sender{ float: left;width: 135px; height: 21px; padding-left: 12px;}
.theme{ float: left; width: 784px; height: 21px; padding-left: 12px;}
.time{ float: left; width: 100px; height: 16px; padding-left: 12px;}
.span301{ cursor: pointer;}
.span301:hover{ text-decoration: underline;}


.receitime{ width: 1130px; padding-left: 7px; height: 26px; margin-top: 5px; line-height: 30px; border-bottom: 2px solid #A7C5E2;}
.span0104{ cursor: pointer; color: #1E5494; font-family: "lucida Grande",Verdana;}

.receilist{ width: 1144px; height: auto; font-family: "lucida Grande",Verdana;}
.receili{ cursor: pointer; width: 1130px; padding: 0 7px 0 0; height: 24px; line-height: 24px; border-bottom: 1px solid #C1C8D2;}
.receili:hover{ background-color: rgba(193,200,210,0.3);}
.receistyleli{ float: left; width: 18px; height: 18px; margin-left: 6px; margin-right: 14px; margin-top: 4px; background-image: url("images/mail1d47c7.png"); background-position: -48px -0px; }
.senderli{ float: left;width: 137px; height: 24px; padding-left: 12px;}
.themeli{ float: left; width: 786px; height: 24px; padding-left: 12px;}
.span30101:hover{ text-decoration: none;}
.span0302{ color: #A0A0A0;}
.timeli{ position: relative; float: left; width: 102px; height: 24px; padding-left: 12px;}
.starstyle{ position: absolute; width: 18px; height: 18px; top: 3px; right: 0; background-image: url("images/mail1d47c7.png"); background-position: -30px -158px;}

.choice{ width: 1123px; padding: 0 7px; height: 24px; line-height: 24px; background-color: #F2F4F6;}






